<div class="footerWrapper">
    <div class="marginAlign">
        <div class="row">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a routerLink="/home" routerLinkActive="active">home</a>
                </li>
                <li class="list-inline-item">
                    <a href="/aboutus" routerLinkActive="active">about us</a>
                </li>
                <li class="list-inline-item">
                    <a href="/news" routerLinkActive="active">news</a>
                </li>
                <li class="list-inline-item">
                    <a href="/contactus " routerLinkActive="active">contact us</a>
                </li>
            </ul>
        </div>
    </div>
</div>