<strong class="header-title">CONCACT ADDRESS</strong>
<hr/>
<div class="row">
    <div class="col-md-12">
        <h6>NANDI INSTITUTE OF NURSING SCIENCES</h6>
        <span>Recognized by Govt. of Karnataka, KNC and INC New Dehli</span><br />
        <span>Extention Area, Bangalkot-587101</span>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <strong>Phone:</strong>
    </div>
    <div class="col-md-2">
        <span></span>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <strong>Mobile:</strong>
        <span>9880531234</span>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <strong>Email: </strong>
        <span>nionsbagalkot@gmail.com</span>
    </div>
</div>


