<strong class="header-title">COURSES</strong>
<hr/>
<div class="region region-content">
    <div id="block-system-main" class="block-system">
        <div class="block-inner clearfix">


            <div class="block-content clearfix">
                <div id="article-68" class="article node node-page node-lang-en node-odd node-full clearfix">


                    <div class="node-content">
                        <div class="section field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item odd">
                                    <ol>
                                        <li><strong>GNM Course-Three and half &nbsp;year &nbsp;General Nursing and Midwifery.</strong></li>
                                        <li><strong>B.Sc. Nursing Degree Course -Four year degree course.</strong></li>
                                        <li><strong>Post Basic Certificate B.Sc. Nursing Degree Course </strong>- <strong>Two Year Degree Course.</strong></li>
                                        <li><strong>IGNOU Study center.</strong></li>
                                        <li><strong>M.Sc. Nursing Degree Course: </strong>(<strong>Two Year PG Degree Course</strong>)</li>
                                    </ol>
                                    <p align="justify"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; »&nbsp;</strong>Medical Surgical Nursing.<br>
                                                                                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>»&nbsp;</strong>Obstetric &amp; Gynecological Nursing.<br>
                                                                                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>» </strong>Community Health Nursing.<br>
                                                                                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>»&nbsp;</strong>Psychiatric Nursing.<br>
                                                                                                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>»</strong>&nbsp;Pediatric Nursing.</p>
                                    <p><u><strong>ALLOCATION OF SEATS</strong></u></p>
                                    <table border="1" cellpadding="7" cellspacing="0" style="width:638px">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <p>Sl.no</p>
                                            </td>
                                            <td>
                                                <p>Courses offered</p>
                                            </td>
                                            <td>
                                                <p>Number of seats</p>
                                            </td>
                                            <td>
                                                <p>Eligibility criteria</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>1.</p>
                                            </td>
                                            <td>
                                                <p><strong>GNM</strong></p>
                                            </td>
                                            <td>
                                                <p>100</p>
                                            </td>
                                            <td>
                                                <p>PUC pass in Science (Proposed by INC from 2013)</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>2.</p>
                                            </td>
                                            <td>
                                                <p><strong>Basic B.Sc Nursing</strong></p>
                                            </td>
                                            <td>
                                                <p>90</p>
                                            </td>
                                            <td>
                                                <p>PUC pass in Science.PCBE 45%,SC/ST 40%(General PUC)</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>3.</p>
                                            </td>
                                            <td>
                                                <p><strong>Post B.Sc Nursing</strong></p>
                                            </td>
                                            <td>
                                                <p>40</p>
                                            </td>
                                            <td>
                                                <p>Pass in Diploma nursing.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>4.</p>
                                            </td>
                                            <td>
                                                <p><strong>ANM</strong> ( Only for girls)</p>
                                            </td>
                                            <td>
                                                <p>30</p>
                                            </td>
                                            <td>
                                                <p>PUC Pass in Science, Arts &amp; commerce.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="6">
                                                <p>5.</p>
                                            </td>
                                            <td>
                                                <p><strong>M.Sc. Nursing</strong></p>
                                            </td>
                                            <td>
                                                <p>&nbsp;</p>
                                            </td>
                                            <td>
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>a)Medical Surgical Nursing</p>
                                            </td>
                                            <td>
                                                <p>5</p>
                                            </td>
                                            <td rowspan="6">
                                                <p>Pass in Basic B.Sc nursing with 1 year experience /pass in Post B.Sc nursing.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>b)Obstetric &amp; Gynecological Nursing</p>
                                            </td>
                                            <td>
                                                <p>4</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>c)Community Health Nursing</p>
                                            </td>
                                            <td>
                                                <p>3</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>d)Psychiatric Nursing</p>
                                            </td>
                                            <td>
                                                <p>3</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>e)Pediatric Nursing</p>
                                            </td>
                                            <td>
                                                <p>3</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>6.</p>
                                            </td>
                                            <td>
                                                <p><strong>Ph D</strong>.(Proposed)</p>
                                            </td>
                                            <td>
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>7.</p>
                                            </td>
                                            <td>
                                                <p><strong>M.Phil</strong> (Proposed)</p>
                                            </td>
                                            <td>
                                                <p>&nbsp;</p>
                                            </td>
                                            <td>
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>8.</p>
                                            </td>
                                            <td>
                                                <p><strong>IGNOU B.Sc</strong></p>
                                            </td>
                                            <td>
                                                <p>&nbsp;</p>
                                            </td>
                                            <td>
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p>
                                        &nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>