<div class="row">
    <div class="col-md-3">
        <a rel="home">
            <img src="assets/logo.jpeg" alt="Nandi" class="logo">
        </a>
    </div>
    <div class="col-md-6 pt-4">
        <h2 class="collegeName">Nandi Institute of Nursing Sciences</h2>
        <span class="collegeSubHeader">Recognized by Govt. of Karnataka, KNC and INC New Dehli</span>
    </div>
    <div class="col-md-2 pt-4">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </form>
    </div>
</div>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/courses" routerLinkActive="active">COURSES</a>
            </li>
            <li class="nav-item dropdown" id="menu1">
                <a class="nav-link dropdown-toggle" id="academicsMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ACADEMICS
                </a>
                <div class="dropdown-menu" aria-labelledby="academicsMenuLink">
                    <a class="dropdown-item" href="#">ADMISSION PROCEDURE</a>
                    <a class="dropdown-item" href="#">FEES STRUCTURE</a>
                </div>
            </li>
            <li class="nav-item dropdown" id="menu2">
                <a class="nav-link dropdown-toggle" id="facilitiesMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    FACILITIES
                </a>
                <div class="dropdown-menu" aria-labelledby="facilitiesMenuLink">
                    <a class="dropdown-item" href="#">LIBRARY</a>
                    <a class="dropdown-item" href="#">CANTEEN</a>
                    <a class="dropdown-item" href="#">BUS</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contactus" routerLinkActive="active">CONCACT US</a>
            </li>
        </ul>
    </div>
</nav>